{% extends 'base.html.twig' %}

{% block title %}Registro de Campo a Fin{% endblock %}

{% block campo_menu %}active{% endblock %}

{% block body %}
    <br>
    <br>

    <h4>
        <ion-icon name="reorder"></ion-icon>Lista Campos a Fines
    </h4>

    <hr>
    <div >
        <a href="{{ path('nuevo_campoAfin') }}" class="btn btn-outline-info" style="cursor: pointer;">
            <ion-icon name="create"></ion-icon>Crear Campo a Fin
        </a>
    </div>


    <div class="container">

        <table class="table table-hover">
            <thead>
            <tr class="table-info">
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>

            </tr>
            </thead>
            <tbody>
            {% set contador = 0 %}
            {% for campo in lista_datos %}
                {% set contador = contador + 1 %}
                <tr>
                    <td>
                        {{ campo.id }}
                    </td>
                    <td>
                        {{ campo.nombre }}
                    </td>

                    <td>
                        <a href="{{ path('edit_campoAfin',{id:campo.id }) }}" class="btn btn-outline-primary" style="cursor: pointer;">
                            <ion-icon name="create"></ion-icon>
                        </a>
                        <a href="" style="cursor: pointer;" class="btn btn-outline-danger">
                            <ion-icon name="trash"></ion-icon>
                        </a>
                    </td>
                </tr>


            {% endfor %}

            <tr>
                <td colspan="3">
                    <b>Cantidad de registros: {{ contador }}</b>
                </td>

            </tr>




            </tbody>
        </table>


        <div class="panel panel-default">
            <div class="panel-heading"><label></label></div>
            <div class="panel-body">



            </div>
        </div>

    </div>
{% endblock %}